@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url('/assets/bg (01).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.bg-custom{
    background-image: url('/assets/bg (2).png');
    background-size: cover;
    background-position: center;
}