@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image:url('/assets/bg02.jpg');
}

.bg-custom{
    background-image: url('/assets/bg (2).png');
    background-size: cover;
    background-position: center;
}